.app {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .centered-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .word-container {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .guess-container {
    margin-top: 20px;
    text-align: center;
  }
  
  .keyboard-container {
    margin-top: 20px;
  }
  
  .new-game-container {
    margin-top: 20px;
  }

  .keyboard-row {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .win-message-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  .full-quote {
    margin-top: 10px;
    text-align: center;
  }

  .highlighted {
    background-color: yellow;
  }

  .grid-input-container {
    display: flex;
    flex-direction: column;
  }
  
  .grid-input-row {
    display: flex;
  }
  
  .grid-input-cell {
    width: 20px;
    height: 20px;
    margin: 2px;
    text-align: center;
    background-color: #999;
    color: white;
  }

  .correct-position {
    background-color: green;
    color: white;
  }
  
  .in-word {
    background-color: orange;
    color: white;
  }
  
  