body {
  background: rgb(49, 48, 48);
  font-size: 20px;
  color: white;
}

.app {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 30px;
}

.centered-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 600px;
}

.word-container {
  margin-bottom: 20px;
  text-align: center;
  max-height: 200vh;
  overflow-y: auto;
}

.word-container::-webkit-scrollbar {
  width: 8px;
}

.word-container::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.word-container::-webkit-scrollbar-thumb {
  background: #888;
}

.word-container::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.guess-container {
  margin-top: 10px;
  text-align: center;
}

.keyboard-container {
  margin-top: 80px;
  margin-bottom: 10px;
  transform: scale(1.5);
}

.keyboard-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.win-message-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 50px;
}

.win-message {
  margin: 1px 0;
}

.quote-container {
  max-height: 200px;
  overflow: auto;
  margin-bottom: 50px;
}

.full-quote {
  margin-top: 10px;
  text-align: center;
}

.highlighted {
  background-color: yellow;
}

.grid-input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid-input-row {
  display: flex;
}

.grid-input-cell {
  width: 50px;
  height: 50px;
  margin: 2px;
  text-align: center;
  background-color: #999;
  color: white;
  font-size: 30px;
  max-width: 50%;
}

.correct-position {
  background-color: green;
  color: white;
}

.in-word {
  background-color: orange;
  color: white;
}

.button-container {
  position: fixed;
  bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  margin: 0 50px;
  transform: scale(1.5);
  font-size: 15px;
  max-width: 600px;
  min-width: 250px;
}

.left-button {
  display: flex;
  justify-content: flex-start;
  max-width: 90%;
}

.right-button {
  display: flex;
  justify-content: flex-end;
  max-width: 90%;
}

.win-tally,
.episode {
  margin: 5px 0;
}

@media (max-width: 480px) {
  body {
    background: rgb(49, 48, 48);
    font-size: 20px;
    color: white;
  }

  .win-message-container {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .keyboard-row {
    margin-bottom: 5px;
  }

  .grid-input-cell {
    width: calc((90vw - 40px) / 7);
    height: calc((90vw - 40px) / 7);
    margin: 1px;
    font-size: 20px;
    padding: 3px;
  }

  /* reduce cell size for 8 or more columns */
  @media (max-width: 480px) and (min-width: 400px) and (max-height: 500px) {
    .grid-input-cell {
      width: calc((90vw - 40px) / 8);
      height: calc((90vw - 40px) / 8);
    }
  }

  /* reduce cell size for 9 or more columns */
  @media (max-width: 480px) and (max-width: 320px) and (min-height: 568px) {
    .grid-input-cell {
      width: calc((90vw - 40px) / 9);
      height: calc((90vw - 40px) / 9);
    }
  }

  .grid-input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    max-width: 100%;
  }
}
